@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;

}

.section-navbar{
  position: relative;
  background-color: #053A3E;
  box-sizing: border-box;
}

.section-navbar .header{
  font-family: 'Poppins', sans-serif;
}

.section-navbar .header .modal-backdrop.show {
  background-color: #fff;
  opacity: 0.6;
}

.section-navbar .header .modal-item.modal {
  top: 2rem;
}

.section-navbar .header .navbar {
  padding: 2rem 2rem;
}

.section-navbar .header .navbar-light .navbar-nav .nav-link {
  font: 300 0.875rem/1.5rem Poppins, sans-serif;
  color: #FFFFFF;
  padding: 0rem 1.25rem 0rem 0rem;
  margin-right: 0;
  margin-left: 0;
}

.section-navbar .header .navbar-light .navbar-nav .nav-link:hover {
  font: 500 0.875rem/1.5rem Poppins, sans-serif;
  color: #FFFFFF;
}

.section-navbar .header .navbar-light .navbar-nav .active {
  position: relative;
  width: fit-content;
}

.section-navbar .header .navbar-light .navbar-nav .active>.nav-link,
.section-navbar .header .navbar-light .navbar-nav .nav-link.active,
.section-navbar .header .navbar-light .navbar-nav .nav-link.show,
.section-navbar .header .navbar-light .navbar-nav .show>.nav-link {
  font-weight: 500;
}

.section-navbar .header .navbar-light .navbar-toggler-icon {
  background-image: url("assets/navbar.png");
}

.section-navbar .header .btn:focus,
.section-navbar .header .btn:active {
  outline: none !important;
}

.section-navbar .header .btn-fill {
  font: 500 0.875rem/1.25rem Poppins, sans-serif;
  border: 1px solid #053A3E;
  background-color: #053A3E;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  transition: 0.3s;
}


.section-navbar .header .btn-fill:hover {
  background-color: #6DA4F9;
  border: 1px solid #6DA4F9;
}

.section-navbar .header .btn-no-fill {
  font: 500 0.875rem/1.25rem Poppins, sans-serif;
  color: #053A3E;
  background-color: #fff;
  padding: 0.75rem 2rem;
}

.section-navbar .header .btn-no-fill:hover {
  color: #053A3E;
  font-weight: bold;
}

.section-navbar .header .modal-item .modal-dialog .modal-content {
  border-radius: 8px;
}

.section-navbar .header .responsive li {
  padding: 1rem;
}

.section-navbar .header .hr {
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-navbar .header .hero {
  padding: 1rem 2rem;
}

.section-navbar .header .left-column {
  margin-bottom: 0.75rem;
  width: 100%;
}

.section-navbar .header .title-text {
  font: 600 56px / normal Poppins, sans-serif;
  margin-bottom: 1rem;
  color: #fff;
}

.section-navbar .header .caption {
  font: 300 14px Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #fff;
  margin-bottom: 2rem;
}

.section-navbar .header .btn-get {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 2rem;
  border-radius: 999px;
  border: 1px solid #053A3E;
  background-color: #fff;
  transition: 0.3s;
  margin-right: 8px;
}

.section-navbar .header .btn-get:hover {
  font-weight: bold;
}

.section-navbar .header .btn-start {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 2rem;
  border-radius: 999px;
  background-color: #9FFF02;
  transition: 0.3s;

}

.section-navbar .header .btn-start:hover {
  background-color: #053A3E;
  color: #fff;
}


.bg-modal{
  background-color: #053A3E;
}

.section-navbar .header .right-column {
  width: 100%;
}

.section-navbar .header .hero-right {
  padding-left: 140px;
  bottom: 0;
  width: 90%;
}



@media (min-width: 576px) {
  .section-navbar .header .modal-item .modal-dialog {
    max-width: 95%;
    border-radius: 12px;
  }

  .section-navbar .header .navbar {
    padding: 2rem;
  }

  .section-navbar .header .title-text {
    font-size: 40px;
    line-height: 1.2;
  }

  
}

@media (min-width: 768px) {
  .section-navbar .header .navbar {
    padding: 2rem 4rem;
  }

  .section-navbar .header .hr {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .section-navbar .header .hero {
    padding: 4rem;
  }

  .section-navbar .header .left-column {
    margin-bottom: 3rem;
  }

}

@media (min-width: 992px) {

  .section-navbar .header .navbar-light .navbar-nav .active:before {
    content: "";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    height: 0px;
    width: 90%;
    /* or 100px */
    border-bottom: 2px solid #FFFFFF;
  }

  .section-navbar .header .navbar {
    padding: 2rem 6rem;
  }

  .section-navbar .header .navbar-light .navbar-nav .nav-link {
    padding: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .section-navbar .header .navbar-light .navbar-nav .active:before {
    width: 40%;
  }

  .section-navbar .header .hr {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .section-navbar .header .hero {
    padding: 4rem 6rem 5rem;
  }

  .section-navbar .header .left-column {
    width: 50%;
    margin-bottom: 0;
  }

  .section-navbar .header .title-text {
    font-size: 54px;
    line-height: 1.25;
  }

  .section-navbar .header .right-column {
    width: 50%;
  } 
}

/* navbar */

.content-about .btn:focus,
.content-about .btn:active {
  outline: none !important;
}

.content-about {
  padding: 5rem 2rem;
  font-family: 'Poppins', sans-serif;
}

.content-about .img-hero {
  width: 100%;
  margin-bottom: 3rem;
}

.content-about .right-column {
  width: 100%;
}

.content-about .title-text {
  font: 600 1.875rem/2.25rem Poppins, sans-serif;
  margin-bottom: 2.5rem;
  letter-spacing: -0.025em;
  color: #121212;
}

.content-about .caption {
  font: 300 16px Poppins, sans-serif;
  margin-bottom: 1.25rem;
  color: #053A3E;
}

.content-about .circle {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.25rem;
  border-radius: 9999px;
  background-color: #27c499;
}


.content-about .btn-learn {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 2.5rem;
  background-color: #27c499;
  transition: 0.3s;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
}

.content-about .btn:hover {
  background-color: #45dbb2;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .content-about .title-text {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
  }
}

@media (min-width: 992px) {
  .content-about .img-hero {
    width: 50%;
    margin-bottom: 0;
  }

  .content-about .right-column {
    width: 50%;
  }

  .content-about .circle {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}


/* section about */


.content-card .card-content{
  padding: 0.5rem 0.5rem;
  margin-bottom: 30px;
  border: none;
  background-color: #FBFBFB;
}

.content-card .card-content img{
  width: 100px;
}

.content-card .card-content .card-text
{
  font: bold 30px Poppins, sans-serif;
  margin-top: 13px;
  color: #053A3E;
  
}

.content-card .card-content .caption-text
{
  font: 300 16px Poppins, sans-serif;
  color: #767676;

}

@media (min-width: 576px) {
  .content-card .card-content img{
    width: 80px;
  }
  
  .content-card .card-content .card-text
  {
    font: bold 20px Poppins, sans-serif;
    margin-top: 13px;
    color: #053A3E;
    
  }
  
  .content-card .card-content .caption-text
  {
    font: 300 16px Poppins, sans-serif;
    color: #767676;
  
  }
  
}

@media (min-width: 768px ) {
  .content-card .card-content .card-text
  {
    font: bold 18px Poppins, sans-serif;
    margin-top: 13px;
    color: #053A3E;
    
  }
  
  .content-card .card-content .caption-text
  {
    font: 300 16px Poppins, sans-serif;
    color: #767676;
  
  }
}

@media (min-width: 992px) {
  .content-card .card-content .card-text
  {
    font: bold 30px Poppins, sans-serif;
    margin-top: 13px;
    color: #053A3E;
    
  }
  
  .content-card .card-content .caption-text
  {
    font: 300 16px Poppins, sans-serif;
    color: #767676;
  
  }
}

/* section content-card */

.section-info {
  margin-bottom: 40px;
  padding: 40px;
}

.section-info .section-title{
  margin-bottom: 20px;
  font: bold 32px Poppins, sans-serif;
  color: #053A3E;
}

.section-info .section-title{
  margin-bottom: 20px;
  font: bold 32px Poppins, sans-serif;
  color: #053A3E;
}

.section-info .section-paragraph{
  margin-bottom: 20px;
  font: 300 18px Poppins, sans-serif;
  color: #767676;
  
}

@media (min-width: 576px ) {
  .section-info .section-title{
    font: bold 24px Poppins, sans-serif;
  }


}



/* section info test */
.section-info-test {
  margin-bottom: 20px;
  padding: 40px;
}

.section-info-test .section-title{
  font: bold 32px Poppins, sans-serif;
  color: #053A3E;

}

.section-info-test img{
  margin-top: 20px;
  width: 300px;
}

.section-info-test .section-title{
  margin-bottom: 20px;
  font: bold 32px Poppins, sans-serif;
  color: #053A3E;
}

.section-info-test .section-paragraph{
  margin-top: 40px;
  margin-bottom: 20px;
  font: 300 14px Poppins, sans-serif;
  color: #053A3E;
  
}

.section-info-test .btn-start{
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #9FFF02;
  transition: 0.3s;
}

.section-info-test .btn-start:hover{
  background-color: #053A3E;
  color: #fff;
}

/* section info test */


.section-consultan {
  background-color: #053A3E;
}

.section-consultan .section-consultan-info{
  padding: 50px;
  background-color: #053A3E;
}

.section-consultan .section-consultan-info h3{
  font: bold 54px Poppins, sans-serif;
  color: #fff;
}

.section-consultan .section-consultan-info .btn-help{
  font: 500 0.875rem/1.25rem Poppins, sans-serif;
  color: #053A3E;
  background-color: #fff;
  padding: 0.75rem 2rem;
}

.section-consultan .section-consultan-info .btn-help:hover{
  color: #053A3E;
  font-weight: bold;
}

.section-consultan .section-consultan-info .btn-start{
  font: bold 0.875rem/1.25rem Poppins, sans-serif;
  color: #053A3E;

  background-color: #9FFF02;
  padding: 0.75rem 2rem;
}

.section-consultan .section-consultan-info .btn-start:hover{
  background-color: #053A3E;
  color: #fff;
  font-weight: bold;
}

/* sectioon consultant */

.footer .list-space {
  margin-bottom: 1.25rem;
  color: #053A3E;
}

.footer p{
 color: #053A3E;
 margin-top: 20px;
 font-size: 14px;
}

.footer .footer-text-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #053A3E;
  margin-bottom: 1.5rem;
}

.footer .list-menu {
  color: #053A3E;
  text-decoration: none !important;
}

.footer .list-menu:hover {
  font-weight: bold;
}

.footer hr.hr {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer .border-color {
  color: #c7c7c7;
}

.footer .footer-link {
  color: #c7c7c7;
}

.footer .footer-link:hover {
  color: #555252;
}

.footer .social-media-c:hover circle,
.footer .social-media-p:hover path {
  fill: #555252;
}

.footer .footer-info-space {
  padding-top: 3rem;
}

.footer .list-footer {
  padding: 1rem 1rem 1rem 1rem;
}

.footer .info-footer {
  padding: 0 1rem 1rem;
}

@media (min-width: 576px) {
  .footer .list-footer {
    padding: 5rem 2rem 3rem 2rem;
  }

  .footer .info-footer {
    padding: 0 2rem 3rem;
  }
}

@media (min-width: 768px) {
  .footer .list-footer {
    padding: 5rem 4rem 6rem 4rem;
  }

  .footer .info-footer {
    padding: 0 4rem 3rem;
  }
}

@media (min-width: 992px) {
  .footer .list-footer {
    padding: 5rem 6rem 6rem 6rem;
  }

  .footer .info-footer {
    padding: 0 6rem 3rem;
  }
}

.fab {
  width: 40px;
} 

